
<!-- <app-login></app-login> -->
<!-- <app-friends></app-friends>  -->
  <!-- <app-practice></app-practice>  -->
   <!-- <app-totalprice></app-totalprice> -->
    <!-- <app-calculateprice></app-calculateprice> -->
     <!-- <app-directive-practice></app-directive-practice> -->
      <!-- <app-event-binding></app-event-binding> -->
       <!-- <app-switch></app-switch> -->
        <!-- <app-template-driven-form></app-template-driven-form> -->
        <!-- <app-two-way-data-binding></app-two-way-data-binding> -->
         <!-- <app-structural-directives></app-structural-directives> -->
          <!-- <app-attribute-directives></app-attribute-directives> -->
           <!-- <app-reactive-form></app-reactive-form> -->
            <app-reactive-form2></app-reactive-form2>